@require '~vuetify/src/stylus/settings/_theme'
$body-font-family = 'Open Sans'
$material-light.background = #FFFFFF
$material-dark.background = #111118
// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'